* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}
:root {
  --headerBoxShadow: #aaaaaa;
  --grey: #425066;
  --searchBg: #e8eaed;
  --btnLearnMoreBg: linear-gradient(to right, #ff6f00, #ff9100);
  --orange: #ff9100;
  --p: #616161;
  --hr: #dadada;
}
header {
  height: 48px;
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 5px var(--headerBoxShadow);
  /* position: fixed; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  height: 32px;
  width: 143px;
}
nav {
  height: 48px;
  width: 85%;
}
ul {
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
nav a {
  color: var(--grey);
  text-decoration: none;
}
li a:hover {
  border-bottom: 3px solid var(--grey);
}
select {
  width: auto;
  height: 48px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  outline: none;
  border: none;
  color: var(--grey);
}
option {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--grey);
}
input {
  height: 36px;
  width: 200px;
  outline: none;
  border: none;
  padding-left: 5px;
  background-color: var(--searchBg);
  border-radius: 5px;
}
.promo {
  height: 76px;
  width: 100%;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: white;
}
button {
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
.learnMore {
  height: 36px;
  width: 122px;
  color: white;
  font-size: 14px;
  line-height: 36px;
  background-image: var(--btnLearnMoreBg);
  font-weight: 500;
  margin-left: 1em;
}
.learnMore:hover {
  background-color: var(--orange);
}
main {
  height: 643px;
  width: 100%;
  background-image: url(images/hero_slice_desktop_center.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .col {
  width: 640px;
  height: 645px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main img {
  height: 544px;
  width: 617px;
}
main h1 {
  width: 450px;
  height: 160px;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  color: white;
}
.tabs {
  width: 640px;
  height: 260px;
  background-color: white;
  border-radius: 10px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about {
  height: 200px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--grey);
}
h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: var(--grey);
}
p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--p);
}
.about p {
  text-align: center;
}
a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--grey);
  transition: 0.3s;
}
a:hover {
  color: var(--orange);
}
.features {
  height: 400px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featuresCol {
  height: 293px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--grey);
}
.featuresCol h3 {
  width: 332px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
}
.featuresCol p {
  text-align: center;
}
.hr {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 80%;
  border-top: 1px solid var(--hr);
}
.problems {
  height: 600px;
  width: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.problemsRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}
.problemsRow a:hover {
  box-shadow: 20px 20px 10px 10px var(--headerBoxShadow);
}
.problemsCol {
  height: 428px;
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px var(--headerBoxShadow);
  transition: 2s;
}
.problemsCol img {
  height: 281px;
  width: 396px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.problemsColRow {
  height: 200px;
  width: 396px;
  position: relative;
  color: var(--grey);
}
#problemsColRow2 {
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 9.5em;
}
.problemsColRow .content {
  height: 87px;
  width: 264px;
  margin: 5em 1em;
}
.problemsColRow .content2 {
  height: 60px;
  width: 328px;
}
.problemsColRow h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
}
.problemsColRow h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.problemsColRow p {
  font-size: 14px;
}
.powered {
  height: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.powered p {
  width: 604px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--p);
}
.underline {
  text-decoration: underline;
  text-decoration-color: var(--orange);
}
.poweredRow {
  width: 1240px;
  height: 414px;
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
}

.poweredRow .poweredCol {
  width: 392px;
  height: 414px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--grey);
  box-shadow: 0px 0px 10px var(--headerBoxShadow);
}
.poweredCol img {
  height: 222px;
  width: 392px;
  border-radius: 10px;
  /* position: relative; */
}
.poweredCol .play {
  position: absolute;
  background-image: url(images/image0.png);
}
.poweredCol .content {
  height: 139px;
  width: 324px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5em;
}
.poweredCol h3 {
  font-size: 14px;
  line-height: 34px;
  font-weight: 500;
}
.poweredCol h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.partners {
  height: 470px;
  width: 824px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.partners h1 {
  width: 500px;
  margin-bottom: 0.2em;
}
.partners .content {
  height: 157px;
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.partnersRow {
  height: 282px;
  width: 820px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: var(--grey);
  border-radius: 15px;
  box-shadow: 0px 0px 10px var(--headerBoxShadow);
}
.partnersRow a:hover {
  background-color: var(--orange);
  color: white;
}
.partnersColLeft {
  height: 281px;
  width: 407px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.partnersColLeft img {
  height: inherit;
  width: inherit;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.partnersColRight {
  height: 281px;
  width: 412px;
  border-left: 1px solid silver;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.partnersColRight a:hover {
  background-color: var(--orange);
  /* color: white; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.partnersColRight .content {
  height: 114px;
  width: 328px;
  margin: 3em 2em;
  text-align: left;
}
.partnersColRight h1 {
  width: 328px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.partnersColRight a{
  margin-left: 2em;
  margin-top: 2em;
}
.partnersColRight a:hover{
  background-color: transparent;
  color: white;
}
.companies{
  height: 290px;
  width: 90%;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.companiesRow{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.companiesRow img{
  height: 64px;
  width: 128px;
}
.btnShowMore{
  height: 46px;
  width: 129px;
  border: 2px solid var(--orange);
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: white;
  color: var(--grey);
  transition: .3s;
}
.btnShowMore:hover{
  height: 46px;
  width: 129px;
  border: 2px solid var(--orange);
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: var(--orange);
  color: white
}